<div id='competences' class='pt-4 col-md-12'>

		<h3 class='h3title'>Compétences</h3>

	<div>
		<span><strong>Backend</strong></span>
		<span>Symfony5, NodeJS, Ionic3,XDebug, Jquery</span>
	</div>
	<div>
		<span><strong>Frontend</strong></span>
		<span>Javascript, React, HTML5, CSS3</span>
	</div>
	<div>
		<span><strong>SGBDR</strong></span>
		<span>MySQL, PostgreSQL, Access</span>
	</div>
	<div>
		<span><strong>Langages</strong></span>
		<span>PHP, SQL, Java, Python</span>
	</div>
	<div>
		<span><strong>Outil collaboratif</strong></span>
		<span>Git</span>
	</div>
	<div>
		<span><strong>Outil de développement</strong></span>
		<span>PHPStorm, Visual Studio Code, SublimeText, IDEA, Notepad++, Windev</span>
	</div>
	<div>
		<span><strong>Logiciels</strong></span>
		<span>WAMP, Laragon, NPM, Composer</span>
	</div>

	<div>
		<span><strong>Bureautique</strong></span>
		<span>Microsoft Office</span>
	</div>

	<div>
		<span><strong>Système d'exploitation</strong></span>
		<span>Windows, Linux</span>
	</div>

	<div>
		<span><strong>Méthode d'analyse</strong></span>
		<span>Merise</span>
	</div>
</div>