            <div class='col-md-12'>
                <h3 id='experiences'>Expériences</h3>
                <div class='row'>

                    <div class='col-lg-3 col-md-4'>
                        <span>04/2022 - 11/2022</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Développeur - Companimo </span>
                        <ul>
                            <li>Entreprise de vente en détail de produits pour animaux</li>
                           
                        </ul>
                    </div>

       
                   

                    <div class='col-lg-3 col-md-4'>
                         <span>2020 - 2021</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Stage Développeur d'Applications - ComeOn</span>
                        <ul>
                            <li>Agence de communication</li>
                            <li>Debug application sous Symfony4</li>
                        </ul>
                    </div>

                    <div class='col-lg-3 col-md-4'>
                        <span>2019 - 2020</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Développeur d'applications mobiles - L2K Innovation</span>
                        <ul>
                            <li>Ionic3</li>
                            <li>Rédaction du cahier des charges</li>
                        </ul>
                    </div>

                    <div class='col-lg-3 col-md-4'>
                        <span>2018 - 2019</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Développeur - Freelance Wordpress</span>
                        <ul>
                            <li>CSS</li>
                        </ul>
                    </div>

                    <div class='col-lg-3 col-md-4'>
                        <span>2015 - 2016</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Stage Développeur Web - la Fabrik</span>
                        <ul>
                            <li>Agence de communication</li>
                            <li>Landing Page sous Bootstrap3</li>
                            <li>Intégrateur WEB avec le CMS Wordpress</li>
                        </ul>
                    </div>
     
                    <div class='col-lg-3 col-md-4'>
                        <span>2014</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Stage Analyste Programmeur - Skazy</span>
                        <ul>
                            <li>SS2I composé d'un pôle web et d'un pôle ingénieurie</li>
                            <li>Création d'une page d'administration, page de création de compte utilisateur</li>
                            <li>Création d'un script de tirage au sort</li>
                            <li>Jeux responsives en Javascript(JQuery), CSS, HTML, PHP</li>
                        </ul>
                    </div>

                    <div class='col-lg-3 col-md-4'>
                        <span>2013</span>
                    </div>
                    <div class='col-lg-9 col-md-8'>
                        <span>Stage Technicien SAV - Office des Postes et Télécomunications de Nouvelle-Calédonie </span>
                        <ul>
                            <li>établissement public à caractère industriel et commercial</li>
                            <li>Installation de postes</li>
                            <li>Réception Appel Support Informatique, gestion des incidents</li>
                            <li>Interface graphique de numérisation et de stockage de documents sous Java Spring</li>
                        </ul>
                    </div>
                </div>
            </div>