 				<div class='pt-4 pb-4 col-md-12'>
					<h3 class='h3title'>Langues</h3>
					
					<span>Anglais : Bon niveau (lu parlé écrit)</span> 
					<span>Espanol : Notions (lu parlé écrit)</span>  
				</div> 