

                <div class='col-md-12'>
                    <h3 class='h3title'>PROJET PERSONNEL</h3>
                    <span>Sudoku : Application générateur et résolveur de sudokus.</span>
                    <span>Application de dessin (type Paint) avec couleurs, formes géométriques (ligne, courbe, carré, ovale, rectangle) et épaisseur.</span>
                    <span>Agar.io Conception d’une application (type Agar.io) en Java</span>
                    <span>Conception d’un site web avec base de données et gestion réseau.</span>
                </div>
