{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte correspond à votre adresse mail, vous recevrez un message contenant un lien qui vous permettra de reinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas votre mail, veuillez vérifier dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
