  /* {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: stretch;
       align-content: stretch;
   }

*/
  #cv {
      margin-left: 0;
      margin-right: 0;
  }

  div>span {
      display: block;
  }

  #competences>div {
      margin-bottom: 1rem;
  }


  .h3title {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      margin-right: 2rem;
      padding: 5px 0;
      color: #31618F;
      font-weight: bold;

  }

  #profil {
      background-color: #003973;
  }

  /*
  #photo-profil {
      width: 125px;
      height: 125px;
      margin: 1rem 0;
  }
*/
  #profil>h3 {
      background-color: #002C5C;
  }

  #profil>span {
      font-weight: bold;
      padding-top: 1rem;
  }

  #projets>div {
      border: 1px solid black;
  }