  /* {
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
       justify-content: center;
       align-items: stretch;
       align-content: stretch;
   }

*/

  .row div {
      border: 1px solid black;
  }

  div>span {
      display: block;
  }