{% extends "base.html.twig" %}

{% block title %}
    Edition du message de {{contact.nom}} {{contact.prenom}} 
{% endblock %}

{% block body %}
<h1>Editer le message de {{contact.nom}} {{contact.prenom}} </h1>
{% endblock %}