{% extends "base.html.twig" %}

{% block title %}
     
{% endblock %}

{% block body %}
<div class="mx-auto col-md-6 mt-5">
 Editer le message de {{contact.nom}} {{contact.prenom}}  
 <h1>Mettre à jour</h1>

    {{ form_start(formView) }}

	{{ form_widget(formView) }}
	<button type="submit" class="btn btn-primary ">
		<i class="fas fa-save"></i>Editer
	</button>

{% endblock %}