{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<!-- mx-auto -->
<div class="col-md-8 mt-5">
	<h1>Inscription</h1>
{#
{% if error %}
<div class="alert alert danger">
{{ error.message }}
</div>
{% endif %}#}

	{{ form_start(formView) }}

	{{ form_widget(formView) }}

	<button type='submit' class="btn btn-success">Inscription</button>
	 
	{{ form_end(formView) }}
</div>
{% endblock %}
