            <div>
                <h3>EXPÉRIENCES</h3>
                <div>
                    <span>Technicien Support SI </span>
                    <span>Companimo - 2022</span>
                    <ul>
                        <li>Entreprise de vente en détail de produits pour animaux</li>
                        <li>Gestion nom de domaines</li>
                        <li>Gestion certificat SSL</li>
                    </ul>
                </div>

                <div>
                    <span>Développeur Windev</span>
                    <span>Informax - 2022</span>
                    <ul>
                        <li>Entreprise dev douchettes, logiciel de caisse</li> 
                    </ul>
                </div>

                <div class='d-none'>
                    <span>Serveur</span>
                    <span>Orient Express - 2020 à 2021</span>
                </div>

                <div>
                    <span>Stage Développeur d'Applications</span>
                    <span>ComeOn - 2020 à 2021</span>
                    <ul>
                        <li>Agence de communication</li>
                        <li>Debug applicaiton sous Symfony4</li>
                    </ul>
                </div>

                <div>
                    <span>Développeur d'applications mobiles</span>
                    <span>L2K Innovation - 2019 à 2020</span>
                    <ul>
                        <li>Ionic3</li>
                        <li>Rédaction du cahier des charges</li>
                    </ul>
                </div>

                <div>
                    <span>Développeur </span>
                    <span>Freelance Wordpress - 2018 à 2019</span>
                    <ul>
                        <li>CSS</li>
                    </ul>
                </div>

                <div class='d-none'>
                    <span>Serveur</span>
                    <span>Orient Express - 2016 à 2017</span>
                </div>

                <div>
                    <span>Stage Développeur Web</span>
                    <span>la Fabrik - 2016 à 2017</span>
                    <ul>
                        <li>Agence de communication/li>
                        <li>Landing Page sous Bootstrap3</li>
                        <li>Intégrateur WEB avec le CMS Wordpress</li>
                    </ul>
                </div>

                <div>
                    <span>Stage Analyste Programmeur</span>
                    <span>Skazy - 2014</span>
                    <ul>
                        <li>SS2I composé d'un pôle web et d'un pôle ingénieurie</li>
                        <li>Création d'une page d'administration, page de création de compte utilisateur</li>
                        <li>Création d'un script de tirage au sort</li>
                        <li>Jeux responsives en Javascript(JQuery), CSS, HTML, PHP</li>
                    </ul>
                </div>

                <div>
                    <span>Stage Technicien SAV</span>
                    <span>Office des Postes et Télécomunications de Nouvelle-Calédonie - 2013</span>
                    <ul>
                        <li>établissement public à caractère industriel et commercial</li>
                        <li>Installation de postes</li>
                        <li>Réception Appel Support Informatique, gestion des incidents</li>
                        <li>Interface graphique de numérisation et de stockage de documents sous Java Spring</li>
                    </ul>
                </div>
            </div>