            <div class='col-md-12'>
                <h3 class='h3title'>Expériences</h3>
                <div class='row'>

                    <div class='col-lg-4 col-md-4'>
                        <span>2022</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>Technicien Support SI - Companimo </span>
                        <ul>
                            <li>Entreprise de vente en détail de produits pour animaux</li>
                            <li>Gestion nom de domaines</li>
                            <li>Gestion certificat SSL</li>
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                        <span>Développeur Windev</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>Informax - 2022</span>
                        <ul>
                            <li>Entreprise dev douchettes, logiciel de caisse</li> 
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                         <span>Stage Développeur d'Applications</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>ComeOn - 2020 à 2021</span>
                        <ul>
                            <li>Agence de communication</li>
                            <li>Debug application sous Symfony4</li>
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                        <span>Développeur d'applications mobiles</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>L2K Innovation - 2019 à 2020</span>
                        <ul>
                            <li>Ionic3</li>
                            <li>Rédaction du cahier des charges</li>
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                        <span>Développeur</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>Freelance Wordpress - 2018 à 2019</span>
                        <ul>
                            <li>CSS</li>
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                        <span>Stage Développeur Web</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>la Fabrik - 2016 à 2017</span>
                        <ul>
                            <li>Agence de communication/li>
                            <li>Landing Page sous Bootstrap3</li>
                            <li>Intégrateur WEB avec le CMS Wordpress</li>
                        </ul>
                    </div>
     
                    <div class='col-lg-4 col-md-4'>
                        <span>Stage Analyste Programmeur</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>Skazy - 2014</span>
                        <ul>
                            <li>SS2I composé d'un pôle web et d'un pôle ingénieurie</li>
                            <li>Création d'une page d'administration, page de création de compte utilisateur</li>
                            <li>Création d'un script de tirage au sort</li>
                            <li>Jeux responsives en Javascript(JQuery), CSS, HTML, PHP</li>
                        </ul>
                    </div>

                    <div class='col-lg-4 col-md-4'>
                        <span>Stage Technicien SAV</span>
                    </div>
                    <div class='col-lg-8 col-md-8'>
                        <span>Office des Postes et Télécomunications de Nouvelle-Calédonie - 2013</span>
                        <ul>
                            <li>établissement public à caractère industriel et commercial</li>
                            <li>Installation de postes</li>
                            <li>Réception Appel Support Informatique, gestion des incidents</li>
                            <li>Interface graphique de numérisation et de stockage de documents sous Java Spring</li>
                        </ul>
                    </div>
                </div>
            </div>