				<div class='pt-4 pb-4 col-md-12'>
					<h3 class='h3title'>Formation</h3>
					<span>2021 : Licence Informatique - Université de la Nouvelle-Calédonie</span> 
					<span>2014 : BTS Services Informatiques aux Organisations - Lycée Grand Nouméa</span> 
					<span>2012 : Baccalauréat série STG Gestion des systèmes informatiques - Lycée Blaise Pascal</span> 
				</div>
