{% extends "base.html.twig" %}


{% block body %}

	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="row bg-danger">
				<h1>John Tchen</h1>
				<h2>Développeur WEB Fullstack</h2>
			</div>
	 
			<div class="row">

				<div>
					<h3>EXPÉRIENCES</h3>
					<span>Serveur </span>
					<span>Orient Express - 2012</span>
				</div>

 				<div class="w-100"></div>

				<div>
					<h3>COMPÉTENCES</h3>
					<span>Langages</span>
					<span>PHP JS SQL</span>
				</div>
			</div>
			
		</div>

		<div class="col-lg-4 col-md-12 bg-danger">
			Photo
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>14 rue du Tibet, Robinson, Mont-Dore, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>


	</div>

{% endblock %}
