{% extends "base.html.twig" %}


{% block body %}

	<div class="row border border-dark">
		<div class="col-lg-8 col-md-12">

			<div class="p-4 row border-bottom border-dark">
				<div class='col-12'><h1>John Tchen</h1></div>
				<div class='col-12'><h2>Développeur WEB Fullstack</h2></div>
			</div>
 
			<div class="pl-5 pt-5 row">
				{% include "_experiences.html.twig" %}
 
 				<div class="w-100"></div>
 
				{% include "_competences.html.twig" %}
 
				<div>
					<h3>PROJET PERSONNEL</h3>
					<span>Sudoku : Application générateur et résolveur de sudokus.</span>
					<span>Application de dessin (type Paint) avec couleurs, formes géométriques (ligne, courbe, carré, ovale, rectangle) et épaisseur.</span>
					<span>Agar.io Conception d’une application (type Agar.io) en Java</span>
					<span>Conception d’un site web avec base de données et gestion réseau.</span>
				</div>

				<div class='pt-4 pb-4'>
					<h3>Formation</h3>
					<span>2021 : Licence Informatique - Université de la Nouvelle-Calédonie</span> 
					<span>2014 : BTS Services Informatiques aux Organisations - Lycée Grand Nouméa</span> 
					<span>2012 : Baccalauréat série STG Gestion des systèmes informatiques - Lycée Blaise Pascal</span> 
				</div>

				<div class='pt-4 pb-4'>
					<h3>Langues</h3>
					<span>Anglais : Bon niveau (lu parlé écrit)</span> 
					<span>Espanol : Notions (lu parlé écrit)</span>  
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-md-12 border-left border-dark pl-5">
			<img style='width:0px;height:0px' src="{{ asset('assets/img/photo.jpg')}}">
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>40 rue des Quêteurs, Toulouse, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>
	</div>

{% endblock %}
