 

{% block body %}

	<div id='cv' class="pl-5 mt-5 row border border-dark">
		<div class="col-lg-8 col-md-12">

			<div class=" row ">
				{% include "_partials/_experiences.html.twig" %}
 
 				<div class="w-100"></div>
 				
				{% include "_partials/_competences.html.twig" %}
				{% include "_partials/_projets.html.twig" %}
				{% include "_partials/_formations.html.twig" %}
				{% include "_partials/_langues.html.twig" %}
			</div>
		</div>

		<div id='profil' class="col-lg-4 col-md-12 border-left border-dark text-white">
			<div class="row border-dark"> 
				<div class='col-12 h3 font-weight-bold'>John Tchen</div>
				<div class='col-12 '>Développeur WEB Fullstack</div>
			</div>

			<!--<div id='photo-profil' class='d-flex justify-content-center'>
				<img alt='photo-de-profil' src="{{ asset('assets/img/.jpg') }}">
			</div>-->					
		
			<h3>Info personnel</h3>
			<span>Email</span>
				<a href='mailto:johntchen.mos@gmail.com'>johntchen.mos@gmail.com</a>
			<span><a href=" ">CV</a></span>
				 
			<span>Téléphone</span>
				<a href="tel:+33658081986">+33 6 58 08 19 86</a>
				 
			<span>Adresse</span>
				40 rue des Quêteurs, Toulouse, France
			
			<div>
				<h3>Présentation</h3>
				Bonjour, je suis John, Développeur spécialisé en PHP / Symfony, actuellement en recherche d'emploi dans la région de Toulouse
			</div>
			</div>
		</div>
	</div>

{% endblock %}
