{% extends "base.html.twig" %}


{% block body %}

	<div class="row border border-dark">
		<div class="col-lg-8 col-md-12">

			<div class="p-4 row border-bottom border-dark">
				<div class='col-12'><h1>John Tchen</h1></div>
				<div class='col-12'><h2>Développeur WEB Fullstack</h2></div>
	
			</div>
 
			<div class="pl-5 pt-5 row">
				{% include "_experiences.html.twig" %}
 
 				<div class="w-100"></div>
 
				{% include "_competences.html.twig" %}
				{% include "_projets.html.twig" %}
				{% include "_formations.html.twig" %}
				{% include "_langues.html.twig" %}
 
			</div>
		</div>

		<div class="col-lg-4 col-md-12 border-left border-dark pl-5">
			<img style='width:0px;height:0px' src="{{ asset('assets/img/photo.jpg')}}">
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>40 rue des Quêteurs, Toulouse, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>
	</div>

{% endblock %}
