{% extends "base.html.twig" %}


{% block body %}

	<div class="row">
		<div class="col">
		
			<div class="row">
				<h1>John Tchen</h1>
				<h2>Développeur WEB Fullstack</h2>
			</div>
	 
			<div class="row">
				<h3>EXPÉRIENCES</h3>
					<div>
						<span> Serveur</span>
						<span>Orient Express - 2000</span>
						<ul></ul>
					</div>
					<div>
						<span> Dev</span>ComeOn - 10/2020 - 12/2020
						<ul></ul>
					</div>
					<div>
						<span>
							Développeur d'applications mobiles</span>L2K - 2000
						<ul>
							<li>Rédaction des livrables</li>
							<li>Déploiement</li>
						</ul>
					</div>

					<div>
						<span>
							Développeur web</span>la Fabrik - 2015 à 2016
						<ul></ul>
					</div>

					<h3>COMPÉTENCES</h3>

					<span>
						Langages WEB</span>
					<ul>
						<li>PHP</li>
						<li>JS</li>
					</ul>
					<span>
						Framework</span>
					<ul>
						<li>Symfony</li>
						<li>Bootstrap</li>
					</ul>
			</div>
			
		</div>


		<div class="col">
			Photo
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>14 rue du Tibet, Robinson, Mont-Dore, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>


	</div>

{% endblock %}
