{% extends "base.html.twig" %}


{% block body %}

	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="row bg-danger">
				<span><h1>John Tchens</h1></span>
				<span><h2>Développeur WEB Fullstack</h2></span>
			</div>
	 
			<div class="row">

				<div>
					<h3>EXPÉRIENCES</h3>
					<div>
						<span>Technicien Support SI </span>
						<span>Companimo - 2022</span>
					</div>

					<div>
						<span>Serveur</span>
						<span>Orient Express - 2020 à 2021</span>
					</div>
					<div>
						<span>Application</span>
						<span>ComeOn - 2020 à 2021</span>
					</div>

					<div>
						<span>Serveur</span>
						<span>Orient Express - 2020 à 2021</span>
					</div>

					<div>
						<span>Serveur</span>
						<span>Orient Express - 2020 à 2021</span>
					</div>


				</div>

 				<div class="w-100"></div>

				<div>
					<h3>COMPÉTENCES</h3>
					<div>
						<span>Backend</span>
						<span>Symfony5, XDebug, Jquery</span>
					</div>
					<div>
						<span>Frontend</span>
						<span>Javascript, HTML5, CSS3</span>
					</div>
					<div>
						<span>SGBDR</span>
						<span>MySQL, PostgreSQL, Access</span>
					</div>
					<div>
						<span>Langages</span>
						<span>PHP, SQL, Java, Python</span>
					</div>
					<div>
						<span>Outil collaboratif</span>
						<span>Git</span>
					</div>
					<div>
						<span>Outil de développement</span>
						<span>PHPStorm, Visual Studio Code, SublimeText, IDEA, Notepad+++, Windev</span>
					</div>
					
				</div>
			</div>
			
		</div>

		<div class="col-lg-4 col-md-12 bg-danger">
			Photo
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>14 rue du Tibet, Robinson, Mont-Dore, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>


	</div>

{% endblock %}
