{% extends "base.html.twig" %}


{% block body %}

	<div class="row">
		<div class="col-lg-8 col-md-12">
			<div class="row bg-danger">
				<span><h1>John Tchens</h1></span>
				<span><h2>Développeur WEB Fullstack</h2></span>
			</div>
	 
			<div class="row">

				<div>
					<h3>EXPÉRIENCES</h3>
					<div>
						<span>Technicien Support SI </span>
						<span>Companimo - 2022</span>
						<ul>
							<li>Entreprise de vente en détail de produits pour animaux</li>
							<li>Gestion nom de domaines</li>
							<li>Gestion certificat SSL</li>
						</ul>
					</div>

					<div>
						<span>dev windev</span>
						<span>Informax - 2022</span>
						<ul>
							<li>Entreprise dev douchettes, logiciel de caisse</li> 
						</ul>
					</div>

					<div>
						<span>Serveur</span>
						<span>Orient Express - 2020 à 2021</span>
					</div>

					<div>
						<span>Stage Développeur d'Applications</span>
						<span>ComeOn - 2020 à 2021</span>
						<ul>
							<li>Agence de communication</li>
							<li>Debug applicaiton sous Symfony4</li>
						</ul>
					</div>

					<div>
						<span>Développeur d'applications mobiles</span>
						<span>L2K Innovation - 2019 à 2020</span>
						<ul>
							<li>Ionic3</li>
							<li>Rédaction du cahier des charges</li>
						</ul>
					</div>

					<div>
						<span>Développeur </span>
						<span>Freelance Wordpress - 2018 à 2019</span>
					</div>

					<div>
						<span>Serveur</span>
						<span>Orient Express - 2016 à 2017</span>
					</div>

					<div>
						<span>Stage Développeur Web</span>
						<span>la Fabrik - 2016 à 2017</span>
						<ul>
							<li>Agence de communication/li>
							<li>Landing Page sous Bootstrap3</li>
							<li>Intégrateur WEB avec le CMS Wordpress</li>
						</ul>
					</div>

					<div>
						<span>Stage Analyste Programmeur</span>
						<span>Skazy - 2014</span>
						<ul>
							<li>SS2I composé d'un pôle web et d'un pôle ingénieurie</li>
							<li>Création d'une page d'administration, page de création de compte utilisateur</li>
							<li>Création d'un script de tirage au sort</li>
							<li>Jeux responsives en Javascript(JQuery), CSS, HTML, PHP</li>
						</ul>
					</div>

					<div>
						<span>Stage Technicien SAV</span>
						<span>Office des Postes et Télécomunications de Nouvelle-Calédonie - 2013</span>
						<ul>
							<li>établissement public à caractère industriel et commercial</li>
							<li>Installation de postes</li>
							<li>Réception Appel Support Informatique, gestion des incidents</li>
							<li>Interface graphique de numérisation et de stockage de documents sous Java Spring</li>
						</ul>
					</div>


				</div>

 				<div class="w-100"></div>

				<div>
					<h3>COMPÉTENCES</h3>
					<div>
						<span>Backend</span>
						<span>Symfony5, NodeJS, Ionic3,XDebug, Jquery</span>
					</div>
					<div>
						<span>Frontend</span>
						<span>Javascript, React, HTML5, CSS3</span>
					</div>
					<div>
						<span>SGBDR</span>
						<span>MySQL, PostgreSQL, Access</span>
					</div>
					<div>
						<span>Langages</span>
						<span>PHP, SQL, Java, Python</span>
					</div>
					<div>
						<span>Outil collaboratif</span>
						<span>Git</span>
					</div>
					<div>
						<span>Outil de développement</span>
						<span>PHPStorm, Visual Studio Code, SublimeText, IDEA, Notepad+++, Windev</span>
					</div>
					<div>
						<span>Logiciels</span>
						<span>WAMP, Laragon, NPM, Composer</span>
					</div>

					<div>
						<span>Bureautique</span>
						<span>Microsoft Office</span>
					</div>

					<div>
						<span>Système d'exploitation</span>
						<span>Windows, Linux</span>
					</div>

					<div>
						<span>Méthode d'analyse</span>
						<span>Merise</span>
					</div>
				</div>

				<div>
					<h3>PROJET PERSONNEL</h3>
					<span>Sudoku : Application générateur et résolveur de sudokus.</span>
					<span>Application de dessin (type Paint) avec couleurs, formes géométriques (ligne, courbe, carré, ovale, rectangle) et épaisseur.</span>
					<span>Agar.io Conception d’une application (type Agar.io) en Java</span>
					<span>Conception d’un site web avec base de données et gestion réseau.</span>
				</div>
			</div>
			
		</div>

		<div class="col-lg-4 col-md-12 bg-danger">
			Photo
			<h3>CONTACT</h3>
			<ul>
				<li>johntchen.mos@gmail.com</li>
				<li>+33 6 58 08 19 86</li>
				<li>14 rue du Tibet, Robinson, Mont-Dore, France</li>
			</ul>

			<div>
				<h3>Présentation</h3>
				Vive la vie, les crevettes bleues
			</div>
		</div>


	</div>

{% endblock %}
