{% extends "base.html.twig" %}

{% block body %}
	{{ form_start(formView) }}

	{{ form_widget(formView) }}
    <button type='submit' class="btn btn-success">Envoyer Email oublie de mot passe</button>
    {{ form_end(formView) }}
{% endblock %}
