{% extends "base.html.twig" %}

{% block javascripts %}

 
{% endblock %}

{% block body %}
<div class="text-center">
<h1>Bienvenue sur mon site</h1>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit dicta, dolores harum reprehenderit officiis sit maiores rem commodi qui eveniet architecto illum ipsam fugiat dolorum culpa voluptatem aliquam laboriosam atque quae iusto, quibusdam omnis. Culpa officiis eum nemo ut suscipit animi iure, quidem quia soluta. Dolores nulla beatae error tenetur sed fuga ad dignissimos quod obcaecati quam! Quia ratione sequi, facilis culpa dolore quasi eligendi vero ut sed impedit corporis ex similique nostrum voluptas nesciunt, laudantium pariatur id voluptatum, minus voluptatem? Corrupti qui tenetur maiores nam. Rerum alias, ad temporibus corrupti veniam harum, non dignissimos, atque facere tempora laboriosam!
</div>
{% endblock %}
