{% extends "base.html.twig" %}             

{% block title %}Projets{% endblock %}

{% block body %}
            <div class='row'>
                <div class='col-md-12' id='projets'>
                
                    <h3 class=''>PROJET PERSONNEL</h3>
                    
                  
                    
                        <div>Sudoku : Application générateur et résolveur de sudokus.</div>
                 
 
                        <div>Paint : Application de manipulation d'image matricielles </div>
                      
                        <div>Agar.io Conception d’une application (type Agar.io) en Java</div>
                    
                        <div>Conception d’un site web avec base de données et gestion réseau.</div>
                     
                   
                    
                   
                    
                </div>
            </div>
{% endblock %}