 

{% block title %}Projets{% endblock %}

{% block body %}
<h3>PROJET PERSONNEL</h3>
  <div class="row" id='projets'>
   <div class='col'>
    <div class="col-lg-6">
        <img src='https://picsum.photos/id/5/500/200'/>
        <div>Sudoku : Application générateur et résolveur de sudokus.</div>
    </div>


    <div class="col-lg-6">
        
        <div></div>
       

    <div class="w-100"></div>

    <div class="col-lg-6">
       
    </div>

    <div class="col-lg-6">
        <img src='https://picsum.photos/id/2/500/200'/>
        <div>.</div>
    </div>
</div>
  </div>
{% endblock %}