{% extends "base.html.twig" %}             

{% block title %}Projets{% endblock %}

{% block body %}
<h3>PROJET PERSONNEL</h3>
<div class="row" >
   <div class='flex flex-col overflow-hidden rounded-lg shadow-lg'>
        <img src='https://picsum.photos/id/5/500/200'/>
        <div class='card-body'>
                <h4 class="card-title">Sudoku</h4>

                <span class="badge badge-info">
                Sudoku
                </span>
                <p class='card-text'>descr</p>
     
            </div>
    </div>


    <div class="col">
        <img src='https://picsum.photos/id/3/500/200'/>
    </div>

 

    <div class="col">
        <img src='https://picsum.photos/id/4/500/200'/>
        <div>Agar.io Conception d’une application (type Agar.io) en Java</div>
    </div>

    <div class="col-lg-6">
        <img src='https://picsum.photos/id/2/500/200'/> 
    </div>
</div>
 
{% endblock %}