{% extends "base.html.twig" %}             

{% block title %}Projets{% endblock %}

{% block body %}
<h3>PROJET PERSONNEL</h3>
  <div class="row" id='projets'>
   
    <div class="col-lg-6">
        <img src='https://picsum.photos/500/200'/>
        <div>Sudoku : Application générateur et résolveur de sudokus.</div>
    </div>


    <div class="col-lg-6">
        <img src='https://picsum.photos/500/200'/>
        <div>Paint : Application de manipulation d'image matricielles</div>
         <ul>
                            <li> Couleur</li>
                            <li> Formes géométriques : <ol>
                                                            <li>Ligne </li>
                                                            <li>Courbe </li>
                                                            <li>Carré </li>
                                                            <li>Ovale </li>
                                                            <li>Rectangle</li>
                                                        </ol>
                            </li>
                            <li> Épaisseur</li>
    </div>

    <div class="w-100"></div>

    <div class="col-lg-6">
        <img src='https://picsum.photos/500/200'/>
        <div>Agar.io Conception d’une application (type Agar.io) en Java</div>
    </div>

    <div class="col-lg-6">
        <img src='https://picsum.photos/500/200'/>
        <div>Conception d’un site web avec base de données et gestion réseau.</div>
    </div>

  </div>
{% endblock %}