{% extends "base.html.twig" %}
{% block body %}
<h3 >PROJET PERSONNEL</h3>
  <div class="row" >
   
    <div class="col-lg-6">
         
        <div class="card">
            
            <div class='card-body'>
            <img src='https://picsum.photos/id/1/500/200'/>
                <h4 class="card-title">Sudoku</h4>

                <span class="badge badge-info"> Java </span>
                <p class='card-text'>Application générateur et résolveur de sudokus.</p>
    
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class='card-body'>
                <img src='https://picsum.photos/id/2/500/200'/>
                <h4 class="card-title">Paint</h4>
                <span class="badge badge-info"> Java </span>
                <p class='card-text'> Application de manipulation d'image matricielles.
                          Implémentation de fonctionnalités dont les couleurs, les formes et l'épaisseur.
                </p>
            </div>
        </div>
    </div>

    <div class="w-100"></div>

    <div class="col-lg-6">
        <div class="card">
            
            <div class='card-body'>
             <img src='https://picsum.photos/id/3/500/200'/>
                <h4 class="card-title">Agar.io</h4>
                <span class="badge badge-info"> Java </span>

                <p class='card-text'>Jeu dont le but est de prendre du volume en absobant les cellules.</p>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            
            <div class='card-body'>
            <img src='https://picsum.photos/id/4/500/200'/>
                <h4 class="card-title">Troc nc</h4>

                <span class="badge badge-info">PHP </span>
                <p class='card-text'>Conception d’un site web permettant aux utilisateurs inscrits de proposer et de répondre aux annonces.
                </p>
            </div>
        </div>
    </div>


 <div class="col-lg-6">
        <div class="card">
            
            <div class='card-body'>
            <img src='https://picsum.photos/id/5/500/200'/>
                <h4 class="card-title">Postman</h4>

                <span class="badge badge-info">PHP </span>
                <span class="badge badge-warning">JS </span>

                <p class='card-text'>Application permettant d'envoyer des requêtes pour tester les API.</p>
    
            </div>
        </div>
    </div>
 

{% endblock %}