{% extends "base.html.twig" %}
{% block javascripts %}

    <script src="{{ asset('assets/js/upload.js') }}"></script> 

{% endblock %}
{% block title %}Zone Dev{% endblock %}

{% block body %}
 
 <fieldset>
    <legend> Upload JPG </fieldset>
       <div class="preview" >
        <img id="file-ip-1-preview">
    </div>
    <form action="{{ path('upload') }}" method="post" enctype="multipart/form-data">
        Select image to upload:
        <input type="file" name="fileToUpload" id="fileToUpload" onchange="showPreview(event);">
    </form>
</fieldset>


{% endblock %}
